@model CMSExpress.AppServices.Models.Permission
@using CMSExpress.AppServices.Mvc.Extensions;
@using CMSExpress.AppServices.Mvc.Easyui;
@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_FrameGridLayout.cshtml";
}
@section toolbar{
<div id="toolbar-container">
	<div class="toolbar">
        <div style="margin-top:5px;">
		<a href="#" id="btnAdd" command="add" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">新增</a>
		<a href="#" id="btnEdit" command="edit" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">修改</a>
		<a href="#" id="btnDelete" command="delete" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-cancel'">删除</a>
        </div>
	</div>
</div>
}
<div id="searchArea">
    <table class="searchCondition" cellspacing="0" cellpadding="2">
        <tbody>
            <tr>
                <th>上级菜单</th>
                <td>
                    @Html.EasyComboxFor(m => m.ParentId, "treeJson?type=menu", new { search = "" })
                </td>
                <th>菜单名称</th>
                <td>
                    @Html.TextBoxFor(m => m.PermissionName, new { @class = "textbox", search = "" })
                </td>
                <th>菜单地址</th>
                <td>
                    @Html.TextBoxFor(m => m.Url, new { @class = "textbox" , search = "" })
                </td>
            </tr>
            <tr>
                <th>是否有权限控制</th>
                <td>
                    @Html.DropDownListFor(m => m.IsAuthorized, new SelectListItem[] {
                       new SelectListItem(){ Text="", Value=""},
                       new SelectListItem(){ Text="有", Value="1"},
                       new SelectListItem(){ Text="无", Value="0"}
               }, new { search="" })
                </td>
                <th>是否启用</th>
                <td>
                </td>
                <td colspan="2" style="padding-left:0;">
                    <input type="submit" id="btnSearchGrid" class="button_darkblue" value="搜 索" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section datagrid{
    @Html.EasyDataGrid("gridView", url:"indexJson?").Pagination(true).Table(e =>{
            e.Column("fck", "", new { checkbox = "true" });
            e.Column("Id", "", new { hidden = "true" });
            e.Column("PermissionName", "菜单名称", new { width = "150" });
            e.Column("Url", "菜单地址", new { width = "420" });
            e.Column("SortOrder", "排序序号");
            e.Column("JsonIsAuthorized", "是否有权限控制");
            e.Column("JsonStatus", "是否启用");
            e.Column("JsonLastUpdateDate", "最近修改时间", new { width = "130", align = "center" });
        })
}
@section scripts{
<script type="text/javascript">
    $(function () {
        $("#btnSearchGrid").click(function () {
            var params = getSearchParams();
            alert(params);
            $("#gridView").datagrid({ pageNumber: 1, url: "indexJson?" + params });
        });
        $("#btnAdd").click(function () {
            bpm.page.windowShow("新增菜单", "admin/permission/edit?");
        });
        $("#btnEdit").click(function () {
            var selections = $("#gridView").datagrid("getSelections");
            if (selections.length != 1) {
                bpm.page.alert("请选择一个需要删除的数据");
                return false;
            } else {
                bpm.page.windowShow("修改菜单", "admin/permission/edit?id=" + selections[0].Id + "&rnd=" + Math.random());
            }
        });
        $("#btnDelete").click(function () {
            var selections = $("#gridView").datagrid("getSelections");
            if (selections.length == 0) {
                bpm.page.alert("请选择需要删除的数据");
                return false;
            }
            var values = [];
            for (var i = 0; i < selections.length; i++) {
                values.push(selections[i].Id);
            }
            bpm.page.confirm("是否确定要删除？", function () {
                $.post("deleteJson?",
                       { ids: values.toString() },
                       function (result) {
                           $("#gridView").datagrid("reload");
                           if (result.Message) {
                               $.messager.alert("删除", result.Message);
                           }
                       });
            });
            return true;
        });
    });
</script> 
}